<!-- Popup register -->
<alo-popup>

  <!-- Header -->
  <alo-popup-header (close)="closePopup()">
    Cargar imagen
    <img class="spinner-loading-img" src="assets/img/loading.gif" *ngIf="isLoadingImg">
  </alo-popup-header>

  <!-- Select type of count -->
  <alo-popup-container>

    <!-- Imagen uploaded -->
    <div class="preview-img">
      <img src="assets/img/no_img_home.jpg" alt="" *ngIf="!imgUpload">
      <img [src]="imgUpload.url"  alt="" *ngIf="imgUpload">
      <label for="sel-file" class="btn btn-primary">Selcciónar imagen</label>
      <input id="sel-file" type="file" (change)="setPreviewImg($event)"/>
    </div>

  </alo-popup-container>

  <!-- Footer -->
  <alo-popup-footer>

    <!-- Tools uploaded img -->
    <div class="tools-imgs">
      <button class="btn btn-default" (click)="closePopup()">Cancelar</button>
      <button class="btn btn-orange" (click)="savePopup()">Aceptar</button>
    </div>
  </alo-popup-footer>
</alo-popup>
