<!-- Popup register -->
<alo-popup>

  <!-- Header -->
  <alo-popup-header (close)="closePopup()">
    Cargar imagen
  </alo-popup-header>

  <!-- Select type of count -->
  <alo-popup-container>

    <!-- Imagen uploaded -->
    <div class="preview-img">
      <img src="https://www.eu-rentals.com/sites/default/files/default_images/noImg_2.jpg" alt="">
      <label for="sel-file" class="btn btn-primary">Selcciónar imagen</label>
      <input id="sel-file" type="file"/>
    </div>

  </alo-popup-container>

  <!-- Footer -->
  <alo-popup-footer>

    <!-- Tools uploaded img -->
    <div class="tools-imgs">
      <button class="btn btn-default">Cancelar</button>
      <button class="btn btn-orange">Aceptar</button>
    </div>
  </alo-popup-footer>
</alo-popup>
