<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>

<ng-container *ngIf="listServices && listHomesTypes">

  <!-- Filters in toolbar -->
  <alo-filters (moreFilters)="showFilterSection();" [applyMoreFilters]="fitlerApply" [filters]="filterState" [listHomesTypes]="listHomesTypes" (outSetFilters)="getBarFilters($event)"></alo-filters>

  <!-- List of homes -->
  <div class="grid-homes" *ngIf="!isFilterShowed">
    <alo-grid-homes [homes]="listHomesItems" [nItems]="4"></alo-grid-homes>
  </div>

  <!-- More filters of browser -->
  <div class="filters-homes" *ngIf="isFilterShowed">

    <form #formFilter="ngForm" (ngSubmit)="setFilter(formFilter)">
      <!-- Content of filters -->
      <div class="filters-content">

        <!-- number of rooms -->
        <div class="row selctors-nRooms">

          <!-- Number of bedrooms -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="nRooms">Número de Dormitorios</label>
              <select class="selectpicker" id="nRooms" name="nRooms" [(ngModel)]="filterState.number_bedthrooms" data-width="100%" ngModel>
                <option selected value="">Nº Cuartos</option>
                <option value="1">1 cuarto</option>
                <option value="2">2 cuartos</option>
                <option value="3">3 cuartos</option>
                <option value="4">4 cuartos</option>
                <option value="5">5 cuartos</option>
                <option value="6">6 cuartos</option>
                <option value="7">7 cuartos</option>
                <option value="8">8 cuartos</option>
                <option value="9">9 cuartos</option>
                <option value="10">10 cuartos</option>
              </select>
            </div>
          </div>

          <!-- Number of bathrooms -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="nBath">Número de Baños</label>
              <select class="selectpicker" id="nBath" name="nBath" [(ngModel)]="filterState.number_bathrooms" data-width="100%" ngModel>
                <option selected value="">Nº Cuartos de baño</option>
                <option value="1">1 cuarto</option>
                <option value="2">2 cuartos</option>
                <option value="3">3 cuartos</option>
                <option value="4">4 cuartos</option>
                <option value="5">5 cuartos</option>
                <option value="6">6 cuartos</option>
                <option value="7">7 cuartos</option>
                <option value="8">8 cuartos</option>
                <option value="9">9 cuartos</option>
                <option value="10">10 cuartos</option>
              </select>
            </div>
          </div>

          <!-- Numbers of kitchens -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="nKitchen">Número de Cocinas</label>
              <select class="selectpicker" id="nKitchen" name="nKitchen" [(ngModel)]="filterState.number_kitchen" ngModel data-width="100%">
                <option selected value="">Nº Cuartos de cocinas</option>
                <option value="1">1 cuarto</option>
                <option value="2">2 cuartos</option>
                <option value="3">3 cuartos</option>
                <option value="4">4 cuartos</option>
                <option value="5">5 cuartos</option>
                <option value="6">6 cuartos</option>
                <option value="7">7 cuartos</option>
                <option value="8">8 cuartos</option>
                <option value="9">9 cuartos</option>
                <option value="10">10 cuartos</option>
              </select>
            </div>
          </div>

          <!-- Numbers of kitchens -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="nLiving">Número de Salones</label>
              <select class="selectpicker" id="nLiving" name="nLiving" [(ngModel)]="filterState.number_livingrooms" ngModel data-width="100%">
                <option selected value="">Nº Cuartos de salon</option>
                <option value="1">1 cuarto</option>
                <option value="2">2 cuartos</option>
                <option value="3">3 cuartos</option>
                <option value="4">4 cuartos</option>
                <option value="5">5 cuartos</option>
                <option value="6">6 cuartos</option>
                <option value="7">7 cuartos</option>
                <option value="8">8 cuartos</option>
                <option value="9">9 cuartos</option>
                <option value="10">10 cuartos</option>
              </select>
            </div>
          </div>

        </div>

        <!-- Filter Price -->
        <div class="row filter-price">
          <h3>Precio</h3>
          <div class="m-price">
            <header>
              <h5>Min</h5>
              <input type="number" [(ngModel)]="filterState.priceMax" name="priceMax" ngModel />
              <span>&nbsp;€</span>
            </header>
            <section>
              <mat-slider></mat-slider>
            </section>
          </div>
          <div class="m-price">
            <header>
              <h5>Max</h5>
              <input type="number" [(ngModel)]="filterState.price_min" name="priceMin" ngModel />
              <span>&nbsp;€</span>
            </header>
            <section>
              <mat-slider></mat-slider>
            </section>
          </div>
        </div>


        <!-- Types of Accomodation -->
        <div id="type-accomodation" class="list-services row" *ngIf="listHomesTypes">
          <h3>Tipos de Alojamiento</h3>
          <ng-container *ngFor="let homeType of listHomesTypes">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <mat-checkbox [checked]="filterState.type_accomodation.includes(homeType.id)" [value]="homeType.id" (change)="getHomeTypes($event)">{{homeType.name}}</mat-checkbox>
            </div>
          </ng-container>
        </div>

        <!-- Types of rent -->
        <div id="type-rent" class="list-services row">
          <h3>Tipos de Alquiler</h3>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <mat-checkbox value="0" [checked]="filterState.type_rent.includes(0)" (change)="getHomeRent($event)">Propiedad completa</mat-checkbox>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <mat-checkbox value="1" [checked]="filterState.type_rent.includes(1)" (change)="getHomeRent($event)">Por habitación</mat-checkbox>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <mat-checkbox value="2" [checked]="filterState.type_rent.includes(2)" (change)="getHomeRent($event)">Por cama</mat-checkbox>
          </div>
        </div>

        <!-- Services of Flats -->
        <div class="list-services row" *ngIf="listServices">
          <h3>Lista de Servicios</h3>
          <ng-container *ngFor="let homeService of listServices">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <mat-checkbox [checked]="filterState.services.includes(homeService.id)" [value]="homeService.id" (change)="getHomeServices($event, homeService.id)">{{homeService.name}}</mat-checkbox>
            </div>
          </ng-container>
        </div>

        <!-- Reglas de la habitacion -->
        <div class="list-rules row">
          <h3>Reglas de convivencia</h3>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <mat-checkbox [checked]="filterState.smoke" name="smoke" value="true" ngModel>Se permite fumar</mat-checkbox>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <mat-checkbox [checked]="filterState.pets" name="pet" value="true" ngModel>Se permiten mascotas</mat-checkbox>
          </div>
        </div>

      </div>

      <!-- Tools of filters -->
      <div class="footer-tools">
        <div (click)="resetAllFilters()">
          <span class="resert">Restablecer</span>
        </div>
        <div>
          <button class="btn apply" type="submit">Aplicar</button>
        </div>
      </div>

    </form>
  </div>

  <!-- Google Maps -->
  <!-- <div class="maps-homes">
    <agm-map
      [latitude]="40.4072533"
      [longitude]="-3.4080137"
      [zoom]="8"
      [disableDefaultUI]="false"
      [zoomControl]="false">

    </agm-map>
  </div> -->
</ng-container>
