<section id="valoration-content">

  <!-- Header valorations with a summary -->
  <header>
    <h2>Valoraciones</h2>

    <!-- Average stars -->
    <span class="label-valoration">Resumen</span>
    <div class="star-rating-show">
      <input id="input-id" value="4.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
    </div>

    <!-- Number of valorations -->
    <span class="n-rating">(3000)</span>
  </header>

  <!-- All the user's valorations -->
  <div id="list-valorations">

    <div class="form-group">
      <label for="">Convivencia</label>
      <span class="star-rating-show">
        <input id="input-id" value="3.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
      </span>
    </div>
    <div class="form-group">
      <label for="">Ambiente de estudio</label>
      <span class="star-rating-show">
        <input id="input-id" value="2" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
      </span>
    </div>
    <div class="form-group">
      <label for="">Limpieza</label>
      <span class="star-rating-show">
        <input id="input-id" value="3" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
      </span>
    </div>
    <div class="form-group">
      <label for="">Tareas del piso</label>
      <span class="star-rating-show">
        <input id="input-id" value="5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
      </span>
    </div>

  </div>
</section>
