<section id="user-basic-info" *ngIf="user">
  <header>
    <div class="user-avatar">
      <img *ngIf="!user.Userinfo.UserPicture" src="assets/img/no_img_user.jpg" alt="">
      <img *ngIf="user.Userinfo.UserPicture" [src]="user.Userinfo.UserPicture.url" alt="">
    </div>
    <div class="user-info">
      <span class="name">{{user.Userinfo.name}} {{user.Userinfo.surname}}</span>
      <span class="email">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        {{user.email}}
      </span>
      <button (click)="gotoEditProfile()" *ngIf="function === 'edit'" class="btn btn-orange"><i class="fa fa-pencil" aria-hidden="true"></i>Editar</button>
      <button (click)="gotoChatUser(user.id)" *ngIf="function === 'chat'" class="btn btn-default"><i class="fa fa-comment-o" aria-hidden="true"></i>Mensaje</button>
    </div>
  </header>
  <hr *ngIf="user.usergroups_id === 3">
  <!-- User group student is the three -->
  <article class="row" *ngIf="user.usergroups_id === 3">
    <div id="user-description" class="col-md-6">
      <header>
        Descripción
      </header>
      <div class="content">
        <p *ngIf="user.Userinfo.description">
          {{user.Userinfo.description}}
        </p>
        <p *ngIf="!user.Userinfo.description">
          Ninguna
        </p>
      </div>
    </div>

    <div id="user-tips" class="col-md-6">
      <header>
        Rasgos
      </header>
      <div class="content">
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Fiester@</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_partying * 2.5"></div>
        </div>
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Ordenad@</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_organized * 2.5"></div>
        </div>
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Deportista</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_athlete * 2.5"></div>
        </div>
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Friki</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_geek * 2.5"></div>
        </div>
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Sociable</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_sociable * 2.5"></div>
        </div>
        <div class="item-skill">
          <span>
            <i class="fa fa-glass" aria-hidden="true"></i>
            <span>Activ@</span>
          </span>
          <div class="skill-bar" [style.flex-basis.px]="user.Userinfo.feature_active * 2.5"></div>
        </div>
      </div>
    </div>
  </article>
</section>
