alo-popup {
  max-width: 500px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 100%;
}
/********** Count Type **********/
.user-count{
  display: flex;
  flex-direction: row;
  background-color: #ff9600;
  border-radius: 5px;
  color: white;
  margin: 30px auto;
  padding: 25px 20px;
  max-width: 500px;
  width: 95%;
  cursor: pointer;
  justify-content: space-between;
}
.user-count > span{
  display: flex;
  justify-content: center;
  min-width: 80px;
  text-align: center;
  padding-right: 10px;
}
.user-count i {
  font-size: 2.5rem;
  align-self: center;
  color: white;
}

.user-count p {
  display: flex;
  font-size: 1.3rem;
  padding-left: 30px;
  border-left: white 1px solid;
  margin-bottom: 0px;
}
.user-count p span{
  align-self: center;
  color: white;
}

/******* Register ********/

.register-inputs > form > button{
  margin-top: auto;
}

/***** Date Inputs *****/
.date-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-inputs > * { align-self: center; }
.date-inputs > span {
  font-size: 1.2rem;
  color: #4e4e4e;
  margin-bottom: 10px;
}
.date-inputs > span i {
  color: #a9a9a94f;
  font-size: 1.7rem;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
}
.date-inputs > .form-group{ margin: 0;}


/******footer********/

alo-popup-footer span { color: #ff9600; font-weight: 700; cursor: pointer;}

/************** Responsive movile *************/
@media (max-width: 890px) {
  alo-popup {
    max-width: none;
  }
  .date-inputs > .form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
