<section id="form-home-rules">

  <!-- Header -->
  <header>
    <h2>Normas de la vivienda</h2>
  </header>
  <div class="row">

    <!-- Smoke rule -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          ¿Se permiten fumadores?
        </label>
        <mat-radio-group class="form-control-custom">
          <mat-radio-button value="1">Si</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Pet Rule -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          ¿Se permiten mascotas?
        </label>
        <mat-radio-group class="form-control-custom">
          <mat-radio-button value="1">Si</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <!-- Create a new rule -->
  <alo-form-new-rule></alo-form-new-rule>
</section>
