<nav>
  <a class="btn-menu" (click)="openSideNav()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </a>
  <a class="logo">
    <span class="logo-text">Alójame</span>
  </a>
  <div class="cnt">
    <div class="cnt-start">
      <input type="text" class="flat_browser" placeholder="Buscar"><button class="button_browser"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="cnt-end">
      <button md-button class="btn-accent-orange">Regístrate</button>
      <button md-button class="btn-normal-orange">Iniciar sessión</button>
    </div>
  </div>
</nav>
<div class="cap-transparent" [class.display-sidenav]="isDisplaySideNav">

    <div #sidenav [@slideInOut]="sidenavState" class="sidenav">
      <nav>
        <a class="btn-menu" (click)="closeSideNav()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a class="logo">
          <span class="logo-text">Alójame</span>
        </a>
      </nav>
    </div>

    <div class="not-sidenav" (click)="closeSideNav()"></div>
</div>
