<!-- Section Chat message -->
<section id="chat-message">

  <!-- Header of the chat -->
  <header>

    <!-- Avatar image user -->
    <div class="user-avatar">
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>

    <!-- Name of the user -->
    <div id="username">
      <span>
        Emilio Sánchez Catalan
      </span>
      <span>
        Actualizar mensajes
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </span>
    </div>

    <!-- Back button for return to the list of messages -->
    <a *ngIf="userType === 'owner'" id="back-button" [routerLink]="['/private/owner', 'own-messages']">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a *ngIf="userType === 'student'" id="back-button" [routerLink]="['/private/student', 'std-messages']">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  </header>

  <!-- Body of the chat -->
  <article>

    <!-- All the messages of the users -->
    <div id="chat-container">
      <span class="message-unit message-dest">
        <span class="message-user">Emilio</span>
        <span class="message-text">Esto es un menssage del destinatario</span>
      </span>
      <span class="message-unit message-send">
        <span class="message-user">Yo</span>
        <span class="message-text">Esto es un menssage del receptor</span>
      </span>
    </div>

    <!-- Tools for send messages -->
    <footer id="chat-input">
      <div>
        <input type="text" />
        <button class="btn btn-orange">Enviar</button>
      </div>
    </footer>
  </article>
</section>
