<section id="list-valorations">

  <!-- Item in order to make a valoration -->
  <div class="item-valoration">

    <!-- Valoration photografie -->
    <div class="val-photo">
      <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
    </div>

    <!-- Valoration container -->
    <div class="val-container">

      <!-- Valoration destinatary -->
      <div class="val-dest">
        Piso a las afueras en al filo de la playa
      </div>

      <!-- Valoration description -->
      <div class="val-description">
        Propietario del piso: Emilio Sánchez Catalán
      </div>
    </div>

    <!-- Valorations tools -->
    <div class="val-tools">

      <!-- Actions on valorations -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" (click)="createValoration()"><i class="fa fa-star" aria-hidden="true"></i></button>
      </div>

      <!-- Valoration date -->
      <div class="val-date">
        00/00/2017
      </div>
    </div>
  </div>

  <!-- Item in order to make a valoration -->
  <div class="item-valoration">

    <!-- Valoration photografie -->
    <div class="val-photo">
      <img class="user-avatar" src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>

    <!-- Valoration container -->
    <div class="val-container">

      <!-- Valoration destinatary -->
      <div class="val-dest">
        Emilio Sánchez Catalán
      </div>

      <!-- Valoration description -->
      <div class="val-description">
        Compañero de piso: Piso a la playa todo lujoso
      </div>
    </div>

    <!-- Valorations tools -->
    <div class="val-tools">

      <!-- Actions on valorations -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-star" aria-hidden="true"></i></button>
      </div>

      <!-- Valoration date -->
      <div class="val-date">
        00/00/2017
      </div>
    </div>
  </div>
</section>
