<mat-card class="home-card" *ngIf="home">

  <!-- scroll -->
  <div mat-card-image id="carousel-home-{{home.id}}" class="carousel slide" data-ride="carousel" data-interval="0">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" (click)="gotoHome(home.id)">

      <!-- List of photos -->
      <ng-container *ngIf="home.HomePictures.length !==0">
        <ng-container *ngFor="let picture of home.HomePictures; let i = index">
          <div class="item" [class.active]="i === 0">
            <img [src]="picture.url">
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="home.HomePictures.length === 0">
        <div class="item active">
          <img src="assets/img/no_img_home.jpg">
        </div>
      </ng-container>
    </div>

    <!-- Controls -->
    <ng-container *ngIf="home.HomePictures.length > 1">
      <a class="left carousel-control" href="#carousel-home-{{home.id}}" role="button" data-slide="prev">
        <div class="control-scll">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
      </a>
      <a class="right carousel-control" href="#carousel-home-{{home.id}}" role="button" data-slide="next">
        <div class="control-scll">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </a>
    </ng-container>
  </div>

  <div id="card-description" [class.hasfunctionality]="function !== 'none'" (click)="gotoHome(home.id)" [style.cursor]="'pointer'">
    <!-- Content -->
    <mat-card-content>
      <section class="home-info">
        <header>
          <h3>{{home.title}}</h3>
          <span>{{home.price}}€</span>
        </header>
        <article class="list-services">
          <div class="home-service">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <span>{{home.HomeType.name}}</span>
          </div>
          <div class="home-service">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <span>{{home.num_roomers_total}} inquilinos</span>
          </div>
          <div class="home-service">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <span>{{home.typerent | typeRent}}</span>
          </div>
        </article>
      </section>

    </mat-card-content>

    <!-- Footer card -->
    <mat-card-footer>
      <div class="full-rating" [style.justify-content]="function !== 'none' ? 'flex-start' : 'flex-end'">
        <div class="star-rating-show">
          <input id="input-id" value="4.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" disabled>
        </div>
        <span class="n-rating">3000</span>
      </div>
    </mat-card-footer>

    <!-- Function Cape -->
    <div id="f-cape" *ngIf="function !== 'none'"></div>

    <!-- Function CRUD -->
    <div id="f-crud" *ngIf="function === 'crud'">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="gotoShowHome(home.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" (click)="gotoEditHome(home.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" (click)="gotoStudentsHome()"><i class="fa fa-users" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" (click)="deleteHome(home.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </div>
    </div>

    <!-- Functions Subscribed -->
    <div id="f-crud" *ngIf="function === 'subs'">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="gotoShowHome(home.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</mat-card>
