<section id="roomers-control">
  <header>
    <h2>Inquilinos</h2>
  </header>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="user-avatar">
            <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png"/>
          </div>
        </td>
        <td>
          <div>
            Emilio Sánchez Catalan
          </div>
        </td>
        <td>esc00019@gmail.com</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="user-avatar">
            <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png"/>
          </div>
        </td>
        <td>
          <div>
            Emilio Sánchez Catalan
          </div>
        </td>
        <td>esc00019@gmail.com</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="user-avatar">
            <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png"/>
          </div>
        </td>
        <td>
          <div>
            Emilio Sánchez Catalan
          </div>
        </td>
        <td>esc00019@gmail.com</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="user-avatar">
            <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png"/>
          </div>
        </td>
        <td>
          <div>
            Emilio Sánchez Catalan
          </div>
        </td>
        <td>esc00019@gmail.com</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</section>
