<!-- Browser Bar -->
<div class="col-sm-12">
  <div class="form-group browser-bar">
    <label for="browser-bar">Donde</label>
    <input class="form-control" name="browser-bar" type="text">
  </div>
</div>

<!-- Filter browser -->
<div class="filters-browser">

  <!-- List of cities -->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="city">Ciudad</label>
      <select class="selectpicker form-control" name="city">
        <option selected>Jaén</option>
      </select>
    </div>
  </div>


  <!-- List of type of apartament -->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="typeHome">Tipo de vivienda</label>
      <select class="selectpicker form-control" name="typeHome">
        <option selected>Piso</option>
        <option>Cása</option>
      </select>
    </div>
  </div>


  <!-- List of number of guest -->
  <div  class="col-sm-6">
    <div class="form-group">
      <label for="nGuest">Numero de huespedes</label>
      <select class="selectpicker form-control" name="nGuest">
        <option selected value="1">1 persona</option>
        <option value="2">2 personas</option>
        <option value="3">3 personas</option>
        <option value="4">4 personas</option>
        <option value="5">5 personas</option>
        <option value="6">6 personas</option>
        <option value="7">7 personas</option>
        <option value="8">8 personas</option>
        <option value="9">9 personas</option>
        <option value="10">10 personas</option>
      </select>
    </div>
  </div>


  <!-- Button shearch -->
  <div class="col-sm-12">
    <div class="form-group">
      <button class="btn btn-orange form-control">Buscar</button>
    </div>
  </div>
</div>
