<!-- Navbar -->

<!-- Public navbar -->
<nav [class.nav-responsive]="!isInHome" *ngIf="status === 'public'" [class.noshadown]="isInLHome">
  <!-- Logotype -->
  <a class="logo" [routerLink]="['/']">
    <img src="assets/img/ic_logo_border.png">
    <span class="logo-text">Alójame</span>
  </a>

  <!-- Container of navbar -->
  <div class="cnt">

    <!-- Init of container navbar -->
    <div class="cnt-start">
      <div class="effect-browser" *ngIf="!isInHome">
        <input type="text" id="main-browser" name="browserAddress">
      </div>
    </div>

    <!--  End of container navbar -->
    <div class="cnt-end">
      <button (click)="openRegister()" mat-button class="btn-accent-orange btn-register">Regístrate</button>
      <div class="btn-register-movile" (click)="openRegister()"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
      <button (click)="openLogin()" mat-button class="btn-normal-orange btn-login">Iniciar sesión</button>
      <div class="btn-login-movile" (click)="openLogin()"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>

    </div>
  </div>
</nav>

<!-- Owner navbar -->
<nav *ngIf="status === 'owner'" [class.noshadown]="isInLHome">
  <!-- Logotype -->
  <a class="logo" [routerLink]="['private/owner']">
    <img src="assets/img/ic_logo_border.png">
    <span class="logo-text">Alójame</span>
  </a>

  <!-- Container of navbar -->
  <div class="cnt">

    <!-- Init of container navbar -->
    <div class="cnt-start">
    </div>

    <!--  End of container navbar -->
    <div class="cnt-end">
      <div class="dropdown">
        <div class="btn-profile" data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        <ul class="dropdown-menu dropdown-left" aria-labelledby="dropdownMenu1">
          <li><a [routerLink]="['/private/owner', 'own-profile', 'configuration']">Mi perfil</a></li>
          <li><a [routerLink]="['private/owner']">Panel de control</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" style="color: #ec0006">Cerrar sessión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Student navbar -->
<nav *ngIf="status === 'student'" [class.noshadown]="isInLHome">

  <!-- Logotype -->
  <a class="logo" [routerLink]="['private/student']">
    <img src="assets/img/ic_logo_border.png">
    <span class="logo-text">Alójame</span>
  </a>

  <!-- Container of navbar -->
  <div class="cnt">

    <!-- Init of container navbar -->
    <div class="cnt-start">
      <div class="effect-browser" *ngIf="!isInHome">
        <input type="text" id="main-browser" name="browserAddress">
      </div>
    </div>

    <!--  End of container navbar -->
    <div class="cnt-end">
      <div class="dropdown">
        <div class="btn-profile" data-toggle="dropdown"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        <ul class="dropdown-menu dropdown-left" aria-labelledby="dropdownMenu1">
          <li><a [routerLink]="['/private/student']">Mi perfil</a></li>
          <li><a [routerLink]="['/private/student']">Buscar pisos</a></li>
          <li><a [routerLink]="['private/student']">Panel de control</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" style="color: #ec0006">Cerrar sessión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
