<!-- Navbar -->
<nav>
  <!-- Logotype -->
  <a class="logo">
    <img src="assets/img/ic_logo_border.png">
    <span class="logo-text">Alójame</span>
  </a>

  <!-- Container of navbar -->
  <div class="cnt">

    <!-- Init of container navbar -->
    <div class="cnt-start">
    </div>

    <!--  End of container navbar -->
    <div class="cnt-end">
      <button (click)="openRegister()" md-button class="btn-accent-orange">Regístrate</button>
      <button (click)="openLogin()" md-button class="btn-normal-orange">Iniciar sesión</button>
    </div>
  </div>
</nav>
