/***********************NAVBAR*********************/
nav{
  height:56px;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  padding: 0 15px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 18px 1px
}

nav > *{ align-self: center; }

/***************Logo***********************/
.logo{
  cursor: pointer;
  padding: 0 10px;
  flex-basis: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  font-family: 'Dancing Script', cursive;

}
.logo > * { align-self: center; }
.logo > img { max-width: 50px; margin-right: 10px;}
.logo .logo-text{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #ff9600;
}

/************Navbar content***********/
.cnt{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-basis:100%;
  padding: 0 15px;
}
.cnt-start, .cnt-end { display: flex}
.cnt-start > *, .cnt-end > * { align-self: center;}

/************ Responsive *************/

.btn-login-movile { display: none; }

@media (max-width: 767px) {
  nav { padding: 0; }
  .btn-login-movile { display: inline; color: #9b9b9b; }
  .btn-login-movile i{ font-size: 1.3rem; vertical-align: middle; }
  .btn-login { display: none !important; }
}
