alo-popup {
  width: 500px;
  margin: 0 10px;
}

  /********* Header *********/
  alo-popup-container header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
    alo-popup-container header > * { align-self: center; }
    alo-popup-container h2 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }

  /*********** Content ************/
  alo-popup-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
    alo-popup-container textarea {
      width: 100%;
      min-width: 500px;
      max-width: 500px;
      height: 100%;
      min-height: 170px;
      max-height: 170px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    alo-popup-container button {
      width: 100%;
      margin-top: auto;
    }


/********* Responsive **********/
@media  (max-width: 890px) {
  alo-popup {
    width: 100%;
  }
}
