<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>

<section id="page-my-home" *ngIf="homeInfo && listRoomers">
  <header>
    <gallery-show [listImgs]="homeInfo.HomePictures"></gallery-show>
  </header>

  <!-- Home description -->
  <article class="container">
    <alo-home-details [homeInfo]="homeInfo"></alo-home-details>
  </article>

  <!-- List of Roomers -->
  <article class="container">
    <alo-roomer-details [listRoomers]="listRoomers"></alo-roomer-details>
  </article>

  <!-- Home valoration -->
  <article class="container">
    <alo-home-valorations></alo-home-valorations>
  </article>

  <alo-subscribe-bar (action)="leaveHome(homeInfo.id)" [subscribe]="false" [price]="homeInfo.price"></alo-subscribe-bar>
</section>
