<section id="list-messages">
  <div class="item-message">
    <div class="user-avatar">
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>
    <div class="message-content">
      <div class="message-title">
        Emilio Sánchez Catalan
      </div>
      <div class="last-message">
        Este es el ultimo message que hemos enviado
      </div>
    </div>
    <div class="message-date">
      23/05/2018
    </div>
    <div class="message-tool">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item-message">
    <div class="user-avatar">
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>
    <div class="message-content">
      <div class="message-title">
        Emilio Sánchez Catalan
      </div>
      <div class="last-message">
        Este es el ultimo message que hemos enviado
      </div>
    </div>
    <div class="message-date">
      23/05/2018
    </div>
    <div class="message-tool">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item-message">
    <div class="user-avatar">
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>
    <div class="message-content">
      <div class="message-title">
        Emilio Sánchez Catalan
      </div>
      <div class="last-message">
        Este es el ultimo message que hemos enviado
      </div>
    </div>
    <div class="message-date">
      23/05/2018
    </div>
    <div class="message-tool">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item-message">
    <div class="user-avatar">
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg">
    </div>
    <div class="message-content">
      <div class="message-title">
        Emilio Sánchez Catalan
      </div>
      <div class="last-message">
        Este es el ultimo message que hemos enviado
      </div>
    </div>
    <div class="message-date">
      23/05/2018
    </div>
    <div class="message-tool">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</section>
