<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>


<!-- Spinner  -->
<div class="spinner-center" *ngIf="isloading">
  <div>Cargando...</div>
  <mat-spinner [diameter]="120" [color]="orange"></mat-spinner>
</div>

<ng-container *ngIf="listAddressAvaliable">
  <alo-navbar-simple [listAddress]="listAddressAvaliable" [status]="getLocalStorageUserType()"></alo-navbar-simple>

  <!-- content -->
  <div style="margin-top: 56px;">
    <router-outlet></router-outlet>
  </div>
</ng-container>
