<section id="form-home-imgs">

  <!-- Header -->
  <header>
    <h2>Galería de imágenes</h2>
  </header>

  <!-- Tools home's imgs -->
  <div class="tools-imgs">
    <button class="btn btn-primary" (click)="openImgUploader()">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      Subir
    </button>
    <button class="btn btn-danger">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Borrar todo
    </button>
  </div>

  <!-- List of imgs -->
  <div class="list-imgs">

    <!-- Item img -->
    <div class="col-md-4">
      <div class="home-img">
        <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="home-img">
        <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-img">
        <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-img">
        <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-img">
        <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large">
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</section>
