<section id="form-home-imgs" *ngIf="listImgUpload">

  <!-- Header -->
  <header>
    <h2>Galería de imágenes</h2>
  </header>

  <!-- Tools home's imgs -->
  <div class="tools-imgs">
    <button class="btn btn-primary" (click)="openImgUploader()">
      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      Subir
    </button>
    <button class="btn btn-danger" (click)="deleteAllImg()">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Borrar todo
    </button>
  </div>

  <!-- List of imgs -->
  <div class="list-imgs" *ngIf="listImgUpload">

    <!-- Item img -->
    <div class="col-md-4" *ngFor="let imgUpload of listImgUpload; let i = index">
      <div class="home-img">
        <img [src]="imgUpload.url">
        <button class="btn btn-danger" (click)="deleteImg(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>
</section>
