<!-- Grid of Card Homes -->
<div class="container-grid row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <alo-card-home></alo-card-home>
  </div>
</div>

<!-- Pagination -->
<div class="row">
  <alo-pagination [totalPage]="10" [actualPage]="3"></alo-pagination>
</div>
