:host{
  padding: 30px 0;
  display: block;
  width: 100%;
}
:host > * {
  margin-bottom: 20px;
}
/*************** Card *************/
.example-card {
  max-width: 400px;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

    /*************** Carousel ***********/
    .carousel { cursor: pointer; }
    .control-scll{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    .control-scll i {
      align-items: center;
      color: white;
      font-size: 3rem;
    }
    .carousel-control { display: none; }
    .carousel:hover .carousel-control { display: block;}
    .carousel img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

/************* Content **************/


    /**** Header ***/
    .home-info header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .home-info header > * {
      align-self: center;
    }
    .home-info header h3 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .home-info header span {
      font-size: 1.4rem;
      color: orange;
    }

    /*** List Service ***/
    .list-services {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 10px;
    }
    .home-service {
      flex-basis: 50%;
    }
    .home-service > * {
      color: #999;
    }

/*********** Footer **************/

    /******* Rating ******/
    .full-rating {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 10px;
    }

    .full-rating > * {
      align-self: center;
    }

    .full-rating .n-rating {
      font-weight: bold;
      font-size: 0.9rem;
    }
