alo-popup {
  max-width: 500px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 100%;
}
/*********Login inputs********/
.login-inputs > form > button{
  margin-top: auto;
}
.forgot-pass {
  color: #ff9600;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

.text-forgot{
  font-size: 1.1rem;
  padding: 0 10px;
}

/*****footer*****/
alo-popup-footer span { color: #ff9600; font-weight: 700; cursor: pointer;}

/********* Responsive movile *******/

@media (max-width: 890px) {
  /* .forgot-pass  {
    margin-bottom: 30px;
  } */
  alo-popup {
    max-width: none;
  }
}
