alo-popup {
  width: 500px;
  margin: 0 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 100%;
}

/********** Count Type **********/
.user-count{
  display: flex;
  flex-direction: row;
  background-color: #ff9600;
  border-radius: 5px;
  color: white;
  margin: 30px auto;
  padding: 25px 20px;
  max-width: 500px;
  width: 95%;
  cursor: pointer;
  justify-content: flex-start;
}
.user-count > span{
  display: flex;
  justify-content: center;
  min-width: 80px;
  text-align: center;
  padding-right: 10px;
}
.user-count i {
  font-size: 2.5rem;
  align-self: center;
  color: white;
}

.user-count p {
  display: flex;
  font-size: 1.3rem;
  padding-left: 30px;
  border-left: white 1px solid;
  margin-bottom: 0px;
}
.user-count p span{
  align-self: center;
  color: white;
}
/*********Login inputs********/
.login-inputs > form > button{
  margin-top: auto;
}
.forgot-pass {
  color: #ff9600;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

.text-forgot{
  font-size: 1.1rem;
  padding: 0 10px;
}

/*****footer*****/
alo-popup-footer span { color: #ff9600; font-weight: 700; cursor: pointer;}

/********* Responsive movile *******/

@media (max-width: 890px) {
  alo-popup {
    width: 95%;
    margin: 0 auto;
  }
}
