<!-- Popup login -->
<alo-popup *ngIf="!isPassForgot">

    <!-- Header -->
    <alo-popup-header (close)="closePopup()" [hasBack]="isOwner" (back)="isOwner=false">
      Iniciar sesión
    </alo-popup-header>

    <alo-popup-container *ngIf="!isOwner">
      <div class="user-count">
        <span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
        <p><span>Iniciar sessión como estudiante de la universidad</span></p>
      </div>
      <div class="user-count" (click)="isOwner=true">
        <span><i class="fa fa-home" aria-hidden="true"></i></span>
        <p><span>Iniciar sessión como propietario</span></p>
      </div>
    </alo-popup-container>

    <!-- User login section -->
    <alo-popup-container class="login-inputs" *ngIf="isOwner">
      <form #loginform="ngForm" (ngSubmit)="setLogin(loginform)">
        <!-- Email Input -->
        <div class="form-group">
          <div class="input-group input-group-lg">
            <input type="text" name="username" ngModel placeholder="Username/Email" (focus)="setEmailFocus();" (focusout)="setEmailNotFocus();" class="form-control" #inputEmail required>
            <div class="input-group-btn">
              <button type="button" (click)="inputEmail.focus()" class="btn btn-default">
                <i class="fa fa-envelope-o" *ngIf="!isEmailFocus" aria-hidden="true"></i>
                <i class="fa fa-envelope-open-o" *ngIf="isEmailFocus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="input-group input-group-lg">
            <input name="password" type="password" placeholder="Contraseña" pattern=".{8,}" class="form-control" #inputPassword ngModel required>
            <div class="input-group-btn">
              <button type="button" (click)="inputPassword.focus()" class="btn btn-default">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-orange btn-lg btn-block">Entrar</button>
        <span class="forgot-pass" (click)="setPassForgot(true)">¿Has olvidado tu contraseña?</span>
      </form>
    </alo-popup-container>

    <!-- Footer -->
    <alo-popup-footer>
      ¿No tienes una cuenta? <span (click)="openRegister()">Regístrate</span>
    </alo-popup-footer>

</alo-popup>

<!-- Popup Restore password -->
<alo-popup *ngIf="isPassForgot">

  <!-- Header -->
  <alo-popup-header (close)="closePopup()" [hasBack]="true" (back)="setPassForgot(false)">
    Restablecer Contraseña
  </alo-popup-header>

  <!-- User login section -->
  <alo-popup-container class="login-inputs">
    <form #recoveryForm="ngForm" (ngSubmit)="setRecover(recoveryForm)">

      <!-- Text info -->
      <div class="form-group">
        <div class="text-forgot">
          Introduce la dirección de correo electrónico asociada a tu cuenta y te enviaremos un enlace para restablecer tu contraseña.
        </div>
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="text" name="emailRecov" placeholder="example@email.com" (focus)="setEmailFocus();" (focusout)="setEmailNotFocus();" class="form-control" #inputEmail ngModel required>
          <div class="input-group-btn">
            <button type="button" (click)="inputEmail.focus()" class="btn btn-default">
              <i class="fa fa-envelope-o" *ngIf="!isEmailFocus" aria-hidden="true"></i>
              <i class="fa fa-envelope-open-o" *ngIf="isEmailFocus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-orange btn-lg btn-block">Enviar</button>
  </form>
  </alo-popup-container>
</alo-popup>
