<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>

<section id="form-avatar" *ngIf="inputData">

  <!-- Header -->
  <header>
    <h3>Fotografía</h3>
  </header>

  <!-- Form list -->
  <article>

    <!-- User IMG -->
    <div class="user-avatar">
      <img *ngIf="!inputData.Userinfo.UserPicture" src="assets/img/no_img_user.jpg">
      <img *ngIf="inputData.Userinfo.UserPicture" [src]="inputData.Userinfo.UserPicture.url">
    </div>

    <!-- Upload button -->
    <i class="fa fa-upload" aria-hidden="true" (click)="openImgUploader()"></i>
  </article>
</section>
