<section id="form-home-ad">

  <!-- Header Form -->
  <header>
    <h2>Anuncio del piso</h2>
  </header>

  <div class="row">

    <!-- Ad title  -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          Título del anuncio
        </label>
        <input type="text" name="" value="" class="form-control" style="max-width: 400px;">
      </div>
    </div>

    <!-- Hoem price -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          Precio mensual (€)
        </label>
        <input type="number" name="" value="" style="max-width: 150px;" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Service payed -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Qué incluye la factura?
        </label>
        <mat-checkbox>Agua</mat-checkbox>
        <mat-checkbox>Luz</mat-checkbox>
        <mat-checkbox>Internet</mat-checkbox>
        <mat-checkbox>Calefacción</mat-checkbox>
        <mat-checkbox>Butano</mat-checkbox>
      </div>
    </div>

    <!-- Min stance -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Hay estancia mínima? (opcional)
        </label>
        <div class="min-stance form-control-custom">
          <input type="number" name="" value="" class="form-control">
          <span>mes/es</span>
        </div>
        </div>
    </div>
  </div>
  <div class="row">

    <!-- First deposit -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Cual es el deposito inicial? (opcional)
        </label>
        <div class="min-stance form-control-custom">
          <input type="number" name="" value="" class="form-control">
          <span>€</span>
        </div>
        </div>
    </div>
  </div>
</section>
