<section id="form-home-ad" *ngIf="homeBills">

  <!-- Header Form -->
  <header>
    <h2>Anuncio del piso</h2>
  </header>

  <div class="row">

    <!-- Ad title  -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          Título del anuncio
        </label>
        <input type="text" [(ngModel)]="formData.title" class="form-control" style="max-width: 400px;" required>
      </div>
    </div>

    <!-- Hoem price -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>
          Precio mensual (€)
        </label>
        <input type="number" appOnlyPositive [(ngModel)]="formData.price" style="max-width: 150px;" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Service payed -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Qué incluye la factura? (opcional)
        </label>
        <ng-container *ngFor="let homebill of homeBills; let i = index">
          <mat-checkbox [checked]="formData.bill[i].isChecked" (change)="changeCheckBoxStatus(i)">{{homebill.name}}</mat-checkbox>
        </ng-container>
      </div>
    </div>

    <!-- Min stance -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Hay estancia mínima? (opcional)
        </label>
        <div class="min-stance form-control-custom">
          <input type="number" appOnlyPositive [(ngModel)]="formData.minStance" class="form-control">
          <span>mes/es</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- First deposit -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Cual es el deposito inicial? (opcional)
        </label>
        <div class="min-stance form-control-custom">
          <input type="number" appOnlyPositive [(ngModel)]="formData.fiance" class="form-control">
          <span>€</span>
        </div>
      </div>
    </div>

    <!-- when is ready -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="label-strong">
          ¿Apartir de que fecha estara lista? (opcional)
        </label>
        <input [owlDateTimeTrigger]="dateInto" [owlDateTime]="dateInto" id="date-allow" [(ngModel)]="formData.avalibleDate">
        <owl-date-time [pickerType]="'calendar'" #dateInto></owl-date-time>
      </div>
    </div>

  </div>
</section>
