<section id="page-own-home-edit" >

  <!-- Select type of home -->
  <article class="container">
    <alo-form-home-type></alo-form-home-type>
  </article>

  <!-- Number of homes on the room -->
  <article class="container">
    <alo-form-home-rooms></alo-form-home-rooms>
  </article>

  <!-- List of Services -->
  <article class="container">
    <alo-form-home-services></alo-form-home-services>
  </article>

  <!-- Address' home -->
  <article class="container">
    <alo-form-home-address></alo-form-home-address>
  </article>

  <!-- List of Home's rules -->
  <article class="container">
    <alo-form-home-rules></alo-form-home-rules>
  </article>

  <!-- Home advise -->
  <article class="container">
    <alo-form-home-ad></alo-form-home-ad>
  </article>

  <!-- Home imgs -->
  <article class="container">
    <alo-form-home-imgs></alo-form-home-imgs>
  </article>

</section>
