<section id="page-home">
  <header>
    <gallery-show></gallery-show>
  </header>

  <!-- Home description -->
  <article class="container">
    <alo-home-details></alo-home-details>
  </article>

  <!-- List of Roomers -->
  <article class="container">
    <alo-roomer-details></alo-roomer-details>
  </article>

  <!-- Home valoration -->
  <article class="container">
    <alo-home-valorations></alo-home-valorations>
  </article>

  <alo-subscribe-bar></alo-subscribe-bar>
</section>
<footer style="background-color: rgba(0, 0, 0, 0.63); height: 30px; width: 100%;">

</footer>
