<section id="form-owner-info">
  <header>
    <h3>Rasgos</h3>
  </header>
  <article class="row">
    <header class="col-md-12">
      <h4>Me defino como...</h4>
    </header>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Fiester@</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_partying"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Ordenad@</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_organized"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Deportista</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_athlete"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Friki</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_geek"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Sociable</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_sociable"></mat-slider>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Activ@</span>
        </label>
        <div class="feature-slider">
          <mat-slider [thumbLabel]="true" [(ngModel)]="inputData.Userinfo.feature_active"></mat-slider>
        </div>
      </div>
    </div>
  </article>
  <article class="row">
    <header class="col-md-12">
      <h4>Un poco acerca de mí</h4>
    </header>
    <div class="col-md-12">
      <textarea [(ngModel)]="inputData.Userinfo.description"></textarea>
    </div>
  </article>
</section>
