<section id="page-home">

  <!-- Gallery of photografies -->
  <header>
    <gallery-show></gallery-show>
  </header>

  <!-- Home description -->
  <article class="container">
    <alo-home-details></alo-home-details>
  </article>

  <!-- Home valoration -->
  <article class="container">
    <alo-home-valorations></alo-home-valorations>
  </article>

  <!-- Subscribe bar -->
  <alo-subscribe-bar (action)="sendRequestHome()"></alo-subscribe-bar>
</section>

<footer style="background-color: rgba(0, 0, 0, 0.63); height: 30px; width: 100%;">

</footer>
