<section id="page-home">
  <header>
    <!-- TODO: decided betweeen scrool or lightbox -->
    <img src="https://a0.muscache.com/im/pictures/16186243/39e84761_original.jpg?aki_policy=x_large" />
    <img src="https://a0.muscache.com/im/pictures/16186213/d2b65d11_original.jpg?aki_policy=x_large" />
    <img src="https://a0.muscache.com/im/pictures/16186182/893329a8_original.jpg?aki_policy=x_large" />
  </header>
  <article class="container">
    <!-- Home description -->
    <!-- TODO: Component home-details -->
  </article>
  <article class="container">
    <!-- Home valoration -->
    <!-- TODO: Component home-valoration -->
  </article>
</section>
