<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>

<section id="page-home" *ngIf="homeInfo">

  <!-- Gallery of photografies -->
  <header>
    <gallery-show [listImgs]="homeInfo.HomePictures"></gallery-show>
  </header>

  <!-- Home description -->
  <article class="container">
    <alo-home-details [homeInfo]="homeInfo"></alo-home-details>
  </article>

  <!-- Home valoration -->
  <article class="container">
    <alo-home-valorations></alo-home-valorations>
  </article>

  <!-- Subscribe bar -->
  <alo-subscribe-bar (action)="sendRequestHome()" [price]="homeInfo.price"></alo-subscribe-bar>
</section>
