<alo-load-spinner *ngIf="displaySpinner" [error]="isErrorLoading"></alo-load-spinner>

<section id="page-home" *ngIf="homeInfo">
  <header>
    <gallery-show [listImgs]="homeInfo.HomePictures"></gallery-show>
  </header>

  <!-- Home description -->
  <article class="container">
    <alo-home-details [homeInfo]="homeInfo"></alo-home-details>
  </article>

  <!-- List of Roomers -->
  <article class="container">
    <alo-roomer-details></alo-roomer-details>
  </article>

  <!-- Home valoration -->
  <article class="container">
    <alo-home-valorations></alo-home-valorations>
  </article>

  <!-- Subcribe bar -->
  <alo-subscribe-bar [disabled]="true"></alo-subscribe-bar>
</section>
<footer style="background-color: rgba(0, 0, 0, 0.63); height: 30px; width: 100%;">

</footer>
