<section>

  <!-- Home's header -->
  <header>
    <div class="hgroup">
      <h1>{{homeInfo.title}}</h1>
      <h2>{{homeInfo.address}}, {{homeInfo.num_home}}, {{homeInfo.num_floor}}º {{homeInfo.num_door}}</h2>
    </div>
    <figure>
      <img *ngIf="homeInfo.User.Userinfo.UserPicture" [src]="homeInfo.User.Userinfo.UserPicture.url"/>
      <img *ngIf="!homeInfo.User.Userinfo.UserPicture" src="assets/img/no_img_user.jpg"/>
      <caption>{{homeInfo.User.username}}</caption>
    </figure>
  </header>

  <!-- List of details -->
  <article id="list-details">
    <div class="item-detail" *ngIf="homeInfo.available_date">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>{{homeInfo.available_date}}</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <span>{{homeInfo.typerent | typeRent}}</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>{{homeInfo.num_roomers_total}} personas</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <span>{{homeInfo.metres}} m<sup>2</sup></span>
    </div>
  </article>

  <hr>

  <!-- All properties -->
  <div id="list-properties">
    <h2>Propiedades de la vivienda</h2>

    <!-- Home's desciption  -->
    <article id="home-description">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Descripción
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{homeInfo.description}}
        </p>
      </mat-expansion-panel>
    </article>

    <!-- Home's rooms  -->
    <article id="home-rooms">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Distribución
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- List of rooms -->
        <div class="content-panel">

          <!-- Number of bethrooms -->
          <div class="item-room">
            <span>{{homeInfo.num_bedroom}}</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of kitchens -->
          <div class="item-room">
            <span>{{homeInfo.num_kitchen}}</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of bathrooms -->
          <div class="item-room">
            <span>{{homeInfo.num_bathroom}}</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of sitting rooms -->
          <div class="item-room">
            <span *ngIf="homeInfo.num_livingroom">{{homeInfo.num_livingroom}}</span>
            <span *ngIf="!homeInfo.num_livingroom">0</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Services -->
    <article id="list-services">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Servicios
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <ng-container *ngFor="let service of homeInfo.HomeServices">
            <div class="item-service">
              <i class="fa fa-wifi" aria-hidden="true"></i>
              <span>{{service.name}}</span>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Rules -->
    <article id="list-rules">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Reglas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <div class="basic-rules">
            <h4>Basicas</h4>
            <div class="rules-content">
              <span *ngIf="homeInfo.smokers">Permitido fumar</span>
              <span *ngIf="!homeInfo.smokers">Prohibido fumar</span>
              <span *ngIf="homeInfo.pets">Permitidas mascotas</span>
              <span *ngIf="!homeInfo.pets">Prohibidas mascotas</span>
            </div>
          </div>
          <hr />
          <div class="property-rules">
            <h4>Propietario</h4>
            <div class="rules-content" *ngFor="let rule of homeInfo.HomeRules">
              <span *ngIf="rule.type === 0">{{rule.text}}</span>
            </div>
            <div class="rules-content" *ngIf="homeInfo.HomeRules.length === 0">
              <span>Ninguna</span>
            </div>
          </div>
          <hr />
          <div class="comunity-rules">
            <h4>Comunidad</h4>
            <div class="rules-content" *ngFor="let rule of homeInfo.HomeRules">
              <span *ngIf="rule.type === 1">{{rule.text}}</span>
            </div>
            <div class="rules-content" *ngIf="homeInfo.HomeRules.length === 0">
              <span>Ninguna</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Rent conditions -->
    <article id="list-rent-rules">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Condiciones de Alquiler
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <ul>
            <li *ngIf="homeInfo.HomeBills.length !== 0">Facturas incluidas:<ng-container *ngFor="let bill of homeInfo.HomeBills"> {{bill.name}},</ng-container></li>
            <li *ngIf="homeInfo.min_stance">Estancia mínima de {{homeInfo.min_stance}} meses</li>
            <li *ngIf="homeInfo.fiance">Deposito inicial de {{homeInfo.fiance}}€</li>
            <li *ngIf="homeInfo.HomeBills.length === 0 && homeInfo.min_stance && homeInfo.fiance">Ninguna</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </article>
  </div>

</section>
