<section>

  <!-- Home's header -->
  <header>
    <div class="hgroup">
      <h1>Casita independiente en el campo</h1>
      <h2>Avenida Andalucia nº15, 8ºH</h2>
    </div>
    <figure>
      <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg"/>
      <caption>Nombre</caption>
    </figure>
  </header>

  <!-- List of details -->
  <article id="list-details">
    <div class="item-detail">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>00/00/0000</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <span>Cama</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>3 personas</span>
    </div>
    <div class="item-detail">
      <i class="fa fa-map-o" aria-hidden="true"></i>
      <span>30 m<sup>2</sup></span>
    </div>
  </article>

  <hr>

  <!-- All properties -->
  <div id="list-properties">
    <h2>Propiedades de la vivienda</h2>

    <!-- Home's desciption  -->
    <article id="home-description">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Descripción
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        </p>
      </mat-expansion-panel>
    </article>

    <!-- Home's rooms  -->
    <article id="home-rooms">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Distribución
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- List of rooms -->
        <div class="content-panel">

          <!-- Number of bethrooms -->
          <div class="item-room">
            <span>2</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of kitchens -->
          <div class="item-room">
            <span>2</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of bathrooms -->
          <div class="item-room">
            <span>2</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>

          <!-- Number of sitting rooms -->
          <div class="item-room">
            <span>2</span>
            <i class="fa fa-bath" aria-hidden="true"></i>
          </div>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Services -->
    <article id="list-services">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Servicios
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Wifi</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Tv por cable</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Calefacción central</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Aire acondicionado</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Piscina</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Zona exterior</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Lavadora</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Secadora</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Lavavajillas</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Accesibilidad</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Ascensor</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Sabanas y toallas</span>
          </div>
          <div class="item-service">
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <span>Baño privado</span>
          </div>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Rules -->
    <article id="list-rules">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Reglas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <div class="basic-rules">
            <h4>Basicas</h4>
            <div class="rules-content">
              <span>Permitido fumar</span>
              <span>Permitidas mascotas</span>
            </div>
          </div>
          <hr />
          <div class="property-rules">
            <h4>Propietario</h4>
            <div class="rules-content">
              <span>No se puede retrasar en el pago</span>
              <span>El piso limpio todas las semanas</span>
            </div>
          </div>
          <hr />
          <div class="comunity-rules">
            <h4>Comunidad</h4>
            <div class="rules-content">
              <span>No se puede hacer ruido a partir de las 12:00</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </article>

    <!-- Rent conditions -->
    <article id="list-rent-rules">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'80px'">
          <mat-panel-title>
            Condiciones de Alquiler
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-panel">
          <ul>
            <li>Facturas incluidas: agua, luz, internet</li>
            <li>Antelación 1 mes para la cancelacicón</li>
            <li>Estancia mínima de 5 meses</li>
            <li>Deposito inicial de 300€</li>
            <li>Limpieza no incluida</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </article>
  </div>

</section>
