/**********Theme of materials*********/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/********************CLEANER***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  color: rgb(72,72,72);
}
a:link, a:hover, a:visited, a:active, a {
  text-decoration:none !important;
}
button:focus {
  outline: none;
}
img{
  width:100%;
}
html{
  font-size: 14px !important;
}
body{
  background-color: #fafafa;
  color: rgb(72, 72, 72);
  font-family: 'Roboto', sans-serif;

}

/******************Button********************/

.btn-accent-orange .mat-button-wrapper { color: rgba(255,110, 0, 1); }
.btn-accent-orange .mat-ripple-element{ background-color: rgba(255, 170, 51, 0.3); }
.btn-accent-orange .mat-button-focus-overlay { display: none; }

.btn-normal-orange .mat-button-wrapper { color: rgba(0,0,0, 1); }
.btn-normal-orange .mat-ripple-element{ background-color: rgba(0,0,0, 0.05); }
.btn-normal-orange .mat-button-focus-overlay { display: none; }

.btn.btn-orange{
  color: #fff;
  font-weight: 700;
  background-color: #ff9600;
  border-color: #f18f03;
}
.btn.btn-orange:focus {
  color: #fff;
  background-color: #ff7a00;
  border-color: #c96e01;
  outline-color: #ff9600;
}
.btn.btn-orange:hover {
  color: #fff;
  background-color: #ff7a00;
  border-color: #e16c00;
}
.btn.btn-orange:active{
  color: #fff;
  background-color: #ff7a00;
  border-color: #e16c00;
  outline-color: #ff9600;
}
.btn.btn-orange:active:focus{ outline-color: #ff9600; }

.input-group-btn button { min-width: 55px; }

/*********** Forms bootstrap adapts ******/
.form-control:focus {
    border-color: #f3c84d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 169, 41);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(255, 169, 41);
}

/************ Popup *************/

@media (max-width: 890px) {

  .cdk-overlay-pane{
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
  }
}

/************ Pages ************/
.page-container {
}

/******** MatSnackBar *******/
.mat-snack-bar-container.error-validation{
  background-color: rgb(207, 49, 49);
  font-weight: 400;
}
.error-validation .mat-simple-snackbar-action{
  color: white;
  font-weight: 700;
}
