<section id="form-home-type" *ngIf="homeTypes">
  <div class="row">

    <!-- Type of home -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Qué tipo de propiedad tiene?</label>
        <mat-radio-group class="form-control-custom" name="homeType" [(ngModel)]="formData.homeType" *ngFor="let homeType of homeTypes">
          <mat-radio-button [value]="homeType.id">{{homeType.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- M² -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Cuál es el area total?</label>
        <input class="form-control form-control-custom" appOnlyPositive style="max-width: 150px;" min="0" type="number" name="area" [(ngModel)]="formData.area" placeholder="p.ej, 100m2">
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Type of rent -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Tipo de alquiler?</label>
        <mat-radio-group class="form-control-custom" name="rentType" [(ngModel)]="formData.rentType">
          <mat-radio-button value="1">Propiedad completa</mat-radio-button>
          <mat-radio-button value="2">Habitación</mat-radio-button>
          <mat-radio-button value="3">Cama</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Number of students -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Cuántos inquilinos puede alojar?</label>
        <alo-counter (out)="formData.nRoomers = $event" [in]="formData.nRoomers" [min]="0" class="form-control-custom">Inquilinos</alo-counter>
      </div>
    </div>
  </div>
</section>
