#form-finish {
  margin-top: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 40px;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}
#form-finish > * { align-self: center; }

#form-finish h1 { font-size: 3em; }
  #form-finish h1 i { margin-left: 20px;}

#form-finish h2 { font-size: 2em; }

#form-finish button {
  margin-top: 40px;
  width: 30%;
  height: 75px;
  font-size: 1.2em;
}
