#form-personal-info {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 40px;
}
  /****** Header ******/
  #form-personal-info header {
    display: flex;
  }
  #form-personal-info header > * { align-self: center; }
  #form-personal-info header h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
  }

  /***** List forms ******/
  #form-personal-info article {
    margin-bottom: 20px;
  }
  #form-personal-info article header > * {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #change-pass { justify-content: center;}
  .form-group { display: flex; }
  mat-slide-toggle { align-self: center; margin: 0 20px 0 10px;}
  input { max-width: 395px; }
