<section id="roomer-content">
  <header>
    <h2>Inquilinos</h2>
  </header>

  <article id="table-roomers">
    <div class="row-user">
      <div class="user-avatar">
        <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png" />
      </div>
      <div class="user-name">
        Emilio Sánchez Catalán
      </div>
      <div class="user-mail">
        <span class="label-mail">e-mail:</span>esc00019@gmail.com
      </div>
      <div class="user-tool">
        <span>ACCEDER</span>
      </div>
    </div>
    <div class="row-user">
      <div class="user-avatar">
        <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png" />
      </div>
      <div class="user-name">
        Emilio Sánchez Catalán
      </div>
      <div class="user-mail">
        <span class="label-mail">e-mail:</span>esc00019@gmail.com
      </div>
      <div class="user-tool">
        <span>ACCEDER</span>
      </div>
    </div>
    <div class="row-user">
      <div class="user-avatar">
        <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png" />
      </div>
      <div class="user-name">
        Emilio Sánchez Catalán
      </div>
      <div class="user-mail">
        <span class="label-mail">e-mail:</span>esc00019@gmail.com
      </div>
      <div class="user-tool">
        <span>ACCEDER</span>
      </div>
    </div>
    <div class="row-user">
      <div class="user-avatar">
        <img src="http://www.mycustomer.com/sites/all/themes/pp/img/default-user.png" />
      </div>
      <div class="user-name">
        Emilio Sánchez Catalán
      </div>
      <div class="user-mail">
        <span class="label-mail">e-mail:</span>esc00019@gmail.com
      </div>
      <div class="user-tool">
        <span>ACCEDER</span>
      </div>
    </div>
  </article>
</section>
