<section id="valoration-content">

  <!-- Header valorations with a summary -->
  <header>
    <h2>Valoraciones</h2>

    <!-- Average stars -->
    <span class="label-valoration">Resumen</span>
    <div class="star-rating-show">
      <input id="input-id" value="4.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="sm" disabled>
    </div>

    <!-- Number of valorations -->
    <span class="n-rating">(3000)</span>
  </header>

  <!-- All the user's valorations -->
  <div id="list-valorations">

    <!-- Items valorations -->
    <article class="item-valoration">
      <header>
        <div class="avatar-user">
          <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg"/>
        </div>
        <span class="name-user">Emilio Sánchez Catalán</span>
        <div class="star-rating-show">
          <input id="input-id" value="4.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" disabled>
        </div>
      </header>
      <div class="valoration-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </article>

    <!-- Items valorations -->
    <article class="item-valoration">
      <header>
        <div class="avatar-user">
          <img src="http://www.carmovasconcelos-fenix.org/Escritores/EMILIO-SANCHEZ-FERNANDES/EmilioSanchezFdez1985.jpg"/>
        </div>
        <span class="name-user">Emilio Sánchez Catalán</span>
        <div class="star-rating-show">
          <input id="input-id" value="4.5" name="input-name" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" disabled>
        </div>
      </header>
      <div class="valoration-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </article>
  </div>
</section>
