<section id="form-home-services" *ngIf="homeServices">
  <div class="row">

    <!-- List of services -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Qué servicios proporciona al inquilino?</label>
        <ng-container *ngFor="let homeService of homeServices; let i = index">
          <mat-checkbox [value]="homeService.id" class="form-control-custom" (click)="changeCheckBoxStatus(i)">{{homeService.name}}</mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
</section>
