<section id="form-home-services">
  <div class="row">

    <!-- List of services -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label>¿Qué servicios proporciona al inquilino?</label>
        <mat-checkbox class="form-control-custom">Wifi</mat-checkbox>
        <mat-checkbox class="form-control-custom">Tv por cable</mat-checkbox>
        <mat-checkbox class="form-control-custom">Calefacción central</mat-checkbox>
        <mat-checkbox class="form-control-custom">Piscina</mat-checkbox>
        <mat-checkbox class="form-control-custom">Zona exterior</mat-checkbox>
        <mat-checkbox class="form-control-custom">Lavadora</mat-checkbox>
        <mat-checkbox class="form-control-custom">Secadora</mat-checkbox>
        <mat-checkbox class="form-control-custom">Lavavajillsas</mat-checkbox>
        <mat-checkbox class="form-control-custom">Acessibilidad</mat-checkbox>
        <mat-checkbox class="form-control-custom">Ascensor</mat-checkbox>
        <mat-checkbox class="form-control-custom">Cuarto de baño privado</mat-checkbox>
      </div>
    </div>
  </div>
</section>
