<section id="form-owner-info">
  <header>
    <h3>Información de arrendatario</h3>
  </header>
  <article class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="NIF/DNI"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Numero de telefono"/>
        <mat-slide-toggle>público</mat-slide-toggle>
      </div>
    </div>
  </article>
  <article class="row">
    <header class="col-md-12">
      <h4>Domicilio</h4>
      <mat-slide-toggle>público</mat-slide-toggle>
    </header>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Dirección 1" />
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <select name="gender" data-width="395px" class="selectpicker" ngModel required>
          <option selected value="">Ciudad</option>
          <option value="man">Jaén</option>
          <option value="woman">Linares</option>
        </select>
      </div>
    </div>
  </article>
</section>
