<nav>
  <div class="item-menu">
    <a [routerLink]="['/private/student', 'subs-homes']" [class.active-route]="where === 'subs-homes'">
      <span>Subscripciones</span>
    </a>
  </div>
  <div class="item-menu">
    <a [routerLink]="['/private/student', 'std-messages']" [class.active-route]="where === 'messages'">
      <span>Mensajes</span>
    </a>
  </div>
  <div class="item-menu">
    <a [routerLink]="['/private/student', 'std-valorations']" [class.active-route]="where === 'valorations'">
      <span>Valoraciones</span>
    </a>
  </div>
</nav>
